body{
    background-color: #000000;
}

.top-logo{
    width: 100%;
    height: 300px;
    margin-top: -10px;
    background-image: url('images/katelogo1.png');
    background-repeat: no-repeat;
    background-position: center;
    display:table-cell;
    vertical-align:middle;
    text-align:left;
    padding-left: 10%;
    font-size: 32pt;
}

.page-header
{
    margin-top:-18px;
    display: table;
    table-layout: fixed;
}